= render "devise/shared/header"
.wrapper
  .top
    .top__title
      支払い方法
  .card
    .card__title
      クレジットカード
    .card__info
      %br
      = "**** **** **** " + @default_card_information.last4
      %br
      有効期限
      - exp_month = @default_card_information.exp_month.to_s
      - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
      = exp_month + " / " + exp_year
      = form_tag(card_path(current_user.id), method: :delete, id: 'charge-form',  name: "inputForm") do
        %input{ type: "hidden", name: "card_id", value: "" }
        %button.delete-btn 削除する
  .login_footer-main
    %ul.login_footer-main__toc
      %li.login_footer-main__toc__content
        =link_to "#" do
          プライバシーポリシー
      %li.login_footer-main__toc__content
        =link_to "#" do
          フリマ利用規約
      %li.login_footer-main__toc__content
        =link_to "#" do
          特定取引に関する表記
    .login_footer-main__logo
      =link_to "#" do
        = image_tag "logo.png", alt: "ロゴ"
      %p
        © FURIMA